.add-post-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 31px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.post-form {
    background: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.post-form label {
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
    text-align: left;
}

.post-form input,
.post-form textarea {
    width: 100%;
    padding: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 1.1rem;
    background: #f1f1f1;
    transition: all 0.3s;
}

/* Efeito de foco nos campos */
.post-form input:focus,
.post-form textarea:focus {
    border-color: #5b3b89;
    outline: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(123, 104, 238, 0.5);
}

/* Estilo do Textarea */
.post-form textarea {
    resize: vertical;
    min-height: 150px;
}

/* Botão de envio */
.post-form button {
    background: linear-gradient(135deg, #764ba2, #5b3b89);
    color: white;
    border: none;
    padding: 1.4rem;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.post-form button:hover {
    background: linear-gradient(135deg, #5b3b89, #3a245c);
    transform: scale(1.05);
}
