main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    font-size: 2.5rem;
    color: #e74c3c; 
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 10px;
}

.card {
    display: flex;
    margin-bottom: 20px;
    background-color: #c3c3c38e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .card-content {
    display: flex;
    width: 100%;
}

.card .card-img {
    width: 40%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: center;
    border-radius: 8px 0 0 8px;
}

.text-content {
    width: 60%;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.text-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.date {
    font-size: 0.9em;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    clip-path: polygon(00% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.date::before, .date::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
}

.date::before {
    top: -10px;
    left: -10px;
    border-radius: 50%;
}

.date::after {
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
}

.text-content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.button-leia-mais {
    background-color: #2499ff;
    padding: 10px 16px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.button-leia-mais:hover {
    background-color: #0390c4;
}

.noticia-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.noticia-modal-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
}

.noticia-modal-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.noticia-modal-date {
    font-size: 0.9em;
    margin: 15px 0;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    clip-path: polygon(00% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.noticia-modal-close {
    margin-top: 20px;
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.noticia-modal-close:hover {
    background-color: #e67e22;
}

